@model SVTrade.Models.Article

@{
    ViewBag.Title = "Адмін: змінити " + @Model.title;
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Змінити @Model.title</h2>

    @using (Html.BeginForm("EditArticle", "Admin"))
    {
        <div class="form-group">
            <div class="col-md-10">

                
                <div class="editor-field">
                    @Html.EditorFor(x => x.articleID, new {htmlAttributes = new {@class = "form-control"}})
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        @Html.LabelFor(x => x.title)
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(x => x.title, new {htmlAttributes = new {@class = "form-control"}})
                    </div>
                </div>

                <div class="editor-label">
                    @Html.LabelFor(x => x.userID)
                </div>

                <div class="dropdown">
                    @Html.DropDownListFor(m => m.userID,
                        (IEnumerable<SelectListItem>) ViewData["AllUsers"], "choose", new {@class = "form-control"})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(x => x.imageURL)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.imageURL, new {htmlAttributes = new {@class = "form-control"}})
                </div>

                <div class="editor-label">
                    @Html.LabelFor(x => x.description)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(x => x.description, new {htmlAttributes = new {@class = "form-control"}})
                </div>



                <div class="editor-label">
                    <input type="submit" value="Зберегти" class="btn btn-default"/>
                </div>
                <div class="editor-field">
                    @Html.ActionLink("Відмінити і повернутись до списку", "ArticlesList")
                </div>
            </div>

        </div>
    }



