@model IEnumerable<SVTrade.Models.Product>

@{
    ViewBag.Title = "Админ: все товары";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<p>
    <a href="/Admin/Admin/CreateProduct" class="btn btn-default">Добавить товар</a>
</p>

<div class="content-panel">

    <table class="table table-hover table-advance table-hover">
        <h4><i class="fa fa-angle-right"></i> Товары</h4>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productCategoryID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageURL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.approved)
            </th>

            <th>
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.title)</td>
                <td>@Html.DisplayFor(model => item.ProductCategory.name)</td>
                <td class="maxw">@Html.DisplayFor(model => item.imageURL)</td>
                <td>@Html.DisplayFor(model => item.amount)</td>
                <td>@Html.DisplayFor(model => item.price)</td>
                <td class="maxw">@Html.DisplayFor(model => item.description)</td>
                <td>@Html.DisplayFor(model => item.User.contactPerson)</td>
                <td>@Html.DisplayFor(model => item.approved)</td>

                <td>
                    <!-- Confirm -->
                    @using (Html.BeginForm("ProductApproved", "Admin"))
                    {
                        @Html.Hidden("productID", item.productID)
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success btn-xs"><i class="fa fa-check"></i></button>
                        </div>
                    }
                    <!-- Edit -->
                    <a href="@Url.Action("EditProduct", "Admin" , new { item.productID } )" class="btn btn-primary btn-xs">
                        <i class="fa fa-pencil"></i>
                    </a>
                    <!-- Delete -->
                    @using (Html.BeginForm("DeleteProduct", "Admin"))
                    {
                        @Html.Hidden("productID", item.productID)
                        <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                    }
                    <!-- SMS -->
                    <button type="submit" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal"><i class="fa fa-envelope-o"></i></button>
                    @Html.Action("SendSMS", "Admin")
                    <!-- Add to Storage -->
                    <button class="btn btn-warning btn-xs"><i class="fa fa-archive"></i></button>
                </td>
            </tr>
        }
    </table>
</div>


