@model IEnumerable<SVTrade.Models.Order>

@{
    ViewBag.Title = "Админ: все заказы";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="showback">
    <div class="alert alert-info">Управление существующими заказами или создание новых.</div>
</div>

<p class="">
    <a href="/Admin/Admin/CreateOrder" class="btn btn-default">Создать заказ</a>
</p>

<div class="content-panel">

    <table class="table table-hover table-advance table-hover">
        <h4><i class="fa fa-angle-right"></i> Список заказов</h4>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.finishDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.userID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.amount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.statusID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.completed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.canceled)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.orderDate)</td>
                <td>@Html.DisplayFor(model => item.finishDate)</td>
                <td>@Html.DisplayFor(model => item.Product.title)</td>
                <td>@Html.DisplayFor(model => item.User.contactPerson)</td>
                <td>@Html.DisplayFor(model => item.amount)</td>
                <td>
                    <div class="label label-info label-mini"> @Html.DisplayFor(model => item.OrderStatus.name) </div>
                    <div>@Html.DisplayFor(model => item.statusDate)</div>
                </td>
                <td>@Html.DisplayFor(model => item.completed)</td>
                <td>@Html.DisplayFor(model => item.canceled)</td>

                <td>
                    @using (Html.BeginForm("DeleteOrder", "Admin"))
                    {
                        @Html.Hidden("orderID", item.orderID)
                        <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-trash-o "></i></button>
                        <a href="@Url.Action("EditOrder", "Admin" , new { item.orderID } )" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil"></i>
                        </a>
                        <a href="#" class="btn btn-warning btn-xs"><i class="fa fa-envelope-o"></i></a>
                    }
                    @using (Html.BeginForm("EditStatusInOrder", "Admin"))
                    {
                        @Html.Hidden("orderID", item.orderID)
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-arrow-circle-right"></i></button>
                        </div>
                    }
                    @using (Html.BeginForm("OrderApproved", "Admin"))
                    {
                        @Html.Hidden("orderID", item.orderID)
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-danger btn-xs"><i class="fa fa-arrow-circle-right"></i>Підтвердити</button>
                        </div>
                    }
                </td>
            </tr>
        }
    </table>

</div>