@{
                if (Request.IsAuthenticated)
                {
                    string groupName = "Користувачі";
                    try
                    {
                        using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            if (SVTrade.LoggedUserInfo.getGroupID(Convert.ToInt32(ViewBag.UserID)) == "4" || SVTrade.LoggedUserInfo.getGroupID(Convert.ToInt32(ViewBag.UserID)) == "5")
                            {
                    <ul class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Особистий кабінет", "Index", "Personal/Products", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Товари", "Mapping", "MappingProducts/Mapping", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Адміністратор", "ArticlesList", "Admin/Admin", new { area = "" }, new { @class = "btn-main" })</li>
                    </ul>
                }
                else
                {
                    <ul class="nav navbar-nav navbar-left">
                        <li>@Html.ActionLink("Особистий кабінет", "Index", "Personal/Products", new { area = "" }, new { @class = "" })</li>
                        <li>@Html.ActionLink("Товари", "Mapping", "MappingProducts/Mapping", new { area = "" }, new { @class = "" })</li>
                    </ul>
                }
            }
        }
        catch { }
    }
}
