@model SVTrade.Models.Product

@{
    ViewBag.Title = "Видалення";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="allpage">
    <div class="absolutecontainer">
        <div class="col-lg-2 leftmenu">
            <ul class="nav nav-tab limenu">
                <li>@Html.ActionLink("Додати товар", "Create", "Products")</li>
                <li>@Html.ActionLink("Ваш склад", "Index", "Products")</li>
                <li>@Html.ActionLink("Статистика", "Index", "Statistic")</li>
            </ul>
        </div>
        <div class="col-lg-9 rightmenu">
            <h2>Видалення</h2>

            <h3>Ви дійсно хочете видалити цей товар?</h3>
            <div>
                <h4>Товар</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        Назва
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.name)
                    </dd>

                    <dt>
                        Картинка
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.imageURL)
                    </dd>

                    <dt>
                        Кількість
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.amount)
                    </dd>

                    <dt>
                        Ціна
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.price)
                    </dd>

                    <dt>
                        Опис
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.description)
                    </dd>

                    <dt>
                        Категорія
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.ProductCategory.name)
                    </dd>

                    <dt>
                        Власник
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.User.companyName)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Видалити" class="btn btn-default" /> |
                        @Html.ActionLink("Повернутись", "Index")
                    </div>
                }
            </div>
        </div>
    </div>
</div>