@model IEnumerable<SVTrade.Models.Product>

@{
    ViewBag.Title = "Особистий кабінет";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="allpage">
    <div class="absolutecontainer">
        <div class="col-lg-2 leftmenu">
            <p>@Html.ActionLink("Додати товар", "Create")</p>
            <p>@Html.ActionLink("Ваш склад", "Index")</p>
            <p>@Html.ActionLink("Статистика", "Statistic")</p>
        </div>
        <div class="col-lg-9 rightmenu">
            <h2>Список ваших товарів</h2>
            <table class="table">
                <tr>
                    <th>
                        Назва
                    </th>
                    <th>
                        Кількість(кг)
                    </th>
                    <th>
                        Ціна(грн/кг)
                    </th>
                    <th>
                        Опис
                    </th>
                    <th>
                        Категорія
                    </th>

                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.amount)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.price)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCategory.name)
                        </td>

                        <td>
                            @Html.ActionLink("Редагувати", "Edit", new { id = item.productID }) |
                            @Html.ActionLink("Деталі", "Details", new { id = item.productID }) |
                            @Html.ActionLink("Видалити", "Delete", new { id = item.productID })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>