@model SVTrade.Models.User

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Personal/Views/Shared/_Layout.cshtml";
}



<div class="tab-container">
    <div class="tab-details">
        <ul class="nav nav-tabs new" id="myTab">
            <li class="active">
                <a href="~/Personal/Users/Index">Профіль</a>
            </li>
            <li>
                <a href="~/Personal/Orders/Index">Замовлення</a>
            </li>
            <li>
                <a href="~/Personal/ProductToBuys/Index">Передзамовлення</a>
            </li>
            <li >
                <a href="~/Personal/Products/Index">Ваші товари</a>
            </li>
            <li>
                <a href="#">Статистика продаж</a>
            </li>
            <li>
                <a href="#">Побажання</a>
            </li>
        </ul>
    </div>

    <div class="tab-content" id="myTabCont">
        <div class="tab-pane active" id="annonces">
            <ul class="nav nav-pills" id="ulMyTab">
                <li class="active">
                    <a href="~/Personal/Users/Edit/ @Html.DisplayFor(model => model.userID) " rel="nofollow">
                        Редагувати профіль
                    </a>
                </li>
               
            </ul>
        </div>
        <div class="tab-pane active" id="received">
            <div class="messages-container clearfix">
                <ol class="unstyled received-thread">
                    
                </ol>
            </div>
        </div>
    </div>


</div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.juridicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merchantLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradeLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserGroup.name)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            
        </td>
        <td>
           @Html.DisplayFor(model => model.companyName) 
        </td>
        <td>
            @Html.DisplayFor(model => model.juridicalAddress)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.address)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.contactPerson)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.post)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.phoneNumber)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.email)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.merchantLicense)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.tradeLicense)
            
        </td>
        <td>
            @Html.DisplayFor(model => model.approved)
            
        </td>
       
        <td>
            
        </td>

    </tr>
}

</table>
