@model IEnumerable<SVTrade.Models.User>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Personal/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.juridicalAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.contactPerson)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.post)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phoneNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.merchantLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradeLicense)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.passwordSalt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserGroup.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.juridicalAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contactPerson)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.post)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.merchantLicense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradeLicense)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.approved)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.passwordSalt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserGroup.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.userID }) |
            @Html.ActionLink("Details", "Details", new { id=item.userID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.userID })
        </td>
    </tr>
}

</table>
